defaults
auth         oauthbearer
tls          on
logfile      ~/.local/share/msmtp/msmtp.log

account      gmail
host         smtp.gmail.com
port         587
from         {{ .config.email }}
user         {{ .config.email }}
passwordeval oama access {{ .config.email }}

account default : gmail
