{
    "web": {
        "client_id": "{{ .config.oauth2_client_id }}",
        "client_secret": "{{ .config.oauth2_client_secret }}",
        "auth_uri": "https://accounts.google.com/o/oauth2/auth",
        "token_uri": "https://accounts.google.com/o/oauth2/token"
    }
}
