* {
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(43, 48, 59, 0.5);
}

button {
	border: none;
	border-radius: 0;
}

#workspaces button {
	background-color: #56687e;
	color: #ffffff;
}

#workspaces button.empty {
	background-color: #000000;
}

#workspaces button.active,
#workspaces button.visible {
	background-color: #5294e2;
	box-shadow: inset 0 -2px #eceff4;
}

#workspaces button.urgent {
	background-color: #ff8846;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#mpd {
	padding: 0 10px;
}

#window {
	padding-top: 5px;
	margin-left: 5px;
}

#taskbar button.active {
	background-color: #5294e2;
}
/*#taskbar button
#taskbar button.minimized
#taskbar button.maximized*/
#taskbar button.fullscreen {
	background-color: #26a65b;
}
/*#taskbar.empty*/

#battery.charging,
#battery.plugged {
	color: #ffffff;
	background-color: #26a65b;
}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: #ffffff;
}

#network.disconnected {
	background-color: #f53c3c;
}

#tray>.needs-attention {
	background-color: #eb4d4b;
}

#idle_inhibitor.activated {
	background-color: #90b1b1;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#language {
	padding: 3px 3px 0 0;
	min-width: 20px;
}
