unmailboxes *
unvirtual-mailboxes *
set folder = "{{ .config.maildir }}/gmail"
set realname="{{ .config.name }}"
set from="{{ .config.email }}"
set pgp_default_key="{{ .config.pgp_key }}"
macro index S "<shell-escape>mbsync --all --config ~/.config/mbsync/gmail && notmuch new 2> /dev/null<enter>" "sync email"
set sendmail = "msmtp --account gmail"
set header_cache = "~/.cache/mutt/gmail/header_cache"
set message_cachedir = "~/.cache/mutt/gmail/message_cache"
set spoolfile=+Inbox
set postponed=+[Gmail]/Drafts
set record="+[Gmail]/Sent Mail"
set trash=+[Gmail]/Trash
mailboxes =Inbox {{ .config.mailboxes }} ="[Gmail]/Drafts" ="[Gmail]/Sent Mail" ="[Gmail]/Spam" ="[Gmail]/Trash"
virtual-mailboxes "All" "notmuch://?query=path:gmail/** AND NOT folder:gmail/[Gmail]/All Mail AND NOT folder:gmail/[Gmail]/Drafts AND NOT folder:gmail/[Gmail]/Spam AND NOT folder:gmail/[Gmail]/Trash"
virtual-mailboxes {{ .config.virtual_mailboxes }}
