unmailboxes *
unvirtual-mailboxes *
set folder = "{{ .config.maildir }}/outlook"
set realname="{{ .config.name }}"
set from="{{ .config.email_2 }}"
macro index S "<shell-escape>mbsync --all --config ~/.config/mbsync/outlook && notmuch new 2> /dev/null<enter>" "sync email"
set sendmail = "msmtp --file $HOME/.config/msmtp/outlook"
set header_cache = "~/.cache/mutt/outlook/header_cache"
set message_cachedir = "~/.cache/mutt/outlook/message_cache"
set spoolfile=+Inbox
set postponed=+Drafts
set record=+Sent
set trash=+Trash
mailboxes =Inbox =Archive =Sent =Drafts =Junk =Trash
virtual-mailboxes "All" "notmuch://?query=path:outlook/** AND NOT folder:outlook/Drafts AND NOT folder:outlook/Junk AND NOT folder:outlook/Trash"
virtual-mailboxes "Important" "notmuch://?query=path:outlook/** AND tag:flagged"
