[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    line-numbers = true
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[alias]
	# without parameters: changed files since last commit
	# with parameter: changed files in a particular $COMMIT
	changed = show --pretty="format:" --name-only
	# prettier log
	lg1 = log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset'
	# like log but with shortened hash
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n'' %C(white)%s%C(reset)%n'' %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
	# list commit where $FILE has been modified
	file = log --follow
	# shows files changed from a $COMMIT until now
	diff-commit = diff --name-only
	# maintainers list
	maintainer = shortlog -sn --no-merges
	# most changed files
	most-changed = "! git log --format=format: --name-only --since=\"1 year ago\" | sort | uniq -c | sort -nr | head -20"
	# commits per month
	commits-per-month = "! git log --format='%ad' --date=format:'%Y-%m' | sort | uniq -c"
	# bugs
	bugs = "! git log -i -E --grep=\"fix|bug|broken\" --name-only --format='' | sort | uniq -c | sort -nr | head -20"
	# issues: Revert and hotfix frequency
	issues = "! git log --oneline --since=\"1 year ago\" | grep -iE 'revert|hotfix|emergency|rollback'"
[pull]
	rebase = false
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	format = openpgp
[user]
	name = "{{.config.git_name }}"
	email = {{ .config.git_email }}
	signingkey = {{ .config.git_sign_key }}
[credential "https://github.com/pidario"]
    helper = !github-credentials-helper

[includeIf "gitdir:{{ .config.git_work_path }}"]
	path = {{ .config.git_work_conf }}
