[general]
status_path = "~/.local/share/vdirsyncer/main_status/"

[pair contacts]
a = "contacts_local"
b = "contacts_remote"
collections = ["from a", "from b"]
conflict_resolution = ["command", "nvim", "-d"]

[pair calendars]
a = "calendars_local"
b = "calendars_remote"
collections = ["from a", "from b"]
conflict_resolution = ["command", "nvim", "-d"]

[storage contacts_local]
type = "filesystem"
path = "~/.local/share/dav/contacts/"
fileext = ".vcf"

[storage contacts_remote]
type = "carddav"
url = "{{ .config.dav_server }}"
auth_cert = ["{{ .config.dav_cert }}", "{{ .config.dav_key }}"]
verify = "/etc/ssl/cert.pem"

[storage calendars_local]
type = "filesystem"
path = "~/.local/share/dav/calendars/"
fileext = ".ics"

[storage calendars_remote]
type = "caldav"
url = "{{ .config.dav_server }}"
auth_cert = ["{{ .config.dav_cert }}", "{{ .config.dav_key }}"]
verify = "/etc/ssl/cert.pem"
