[general]
status_path = "{{ env "XDG_DATA_HOME" }}/outlook-dav/status/"

[pair contacts]
a = "contacts_davmail"
b = "contacts_dav"
collections = [["outlook", "contacts", "{{ env "MY_DAV_CONTACTS_COLLECTION" }}"]]
conflict_resolution = "a wins"

[pair calendars]
a = "calendars_davmail"
b = "calendars_dav"
collections = [["outlook", "calendar", "{{ env "MY_DAV_CALENDARS_COLLECTION" }}"]]
conflict_resolution = "a wins"

[storage contacts_dav]
type = "carddav"
url = "{{ env "MY_DAV_SERVER" }}"
auth_cert = ["{{ env "MY_DAV_CERT_PATH" }}", "{{ env "MY_DAV_KEY_PATH" }}"]
verify = "/etc/ssl/cert.pem"

[storage contacts_davmail]
type = "carddav"
url = "http://localhost:1080/users/{{ env "MY_EMAIL_2" }}/contacts/"
username = "{{ env "MY_EMAIL_2" }}"
password.fetch = ["prompt", "Password for outlook"]

[storage calendars_dav]
type = "caldav"
url = "{{ env "MY_DAV_SERVER" }}"
auth_cert = ["{{ env "MY_DAV_CERT_PATH" }}", "{{ env "MY_DAV_KEY_PATH" }}"]
verify = "/etc/ssl/cert.pem"

[storage calendars_davmail]
type = "caldav"
url = "http://localhost:1080/users/{{ env "MY_EMAIL_2" }}/calendar/"
username = "{{ env "MY_EMAIL_2" }}"
password.fetch = ["prompt", "Password for outlook"]
