[general]
status_path = "~/.local/share/vdirsyncer/outlook_status/"

[pair contacts]
a = "contacts_davmail"
b = "contacts_dav"
collections = [["outlook", "contacts", "{{ .config.contacts_collection }}"]]
conflict_resolution = "a wins"

[pair calendars]
a = "calendars_davmail"
b = "calendars_dav"
collections = [["outlook", "calendar", "{{ .config.calendars_collection }}"]]
conflict_resolution = "a wins"

[storage contacts_dav]
type = "carddav"
url = "{{ .config.dav_server }}"
auth_cert = ["{{ .config.dav_cert }}", "{{ .config.dav_key }}"]
verify = "/etc/ssl/cert.pem"

[storage contacts_davmail]
type = "carddav"
url = "http://localhost:1080/users/{{ .config.email_2 }}/contacts/"
username = "{{ .config.email_2 }}"
{{- if not (eq .config.passcmd_2 "") }}
password.fetch = ["command", "sh", "-c", "{{ .config.passcmd_2 }}"]
{{- else }}
password.fetch = ["prompt", "Password for outlook"]
{{- end }}

[storage calendars_dav]
type = "caldav"
url = "{{ .config.dav_server }}"
auth_cert = ["{{ .config.dav_cert }}", "{{ .config.dav_key }}"]
verify = "/etc/ssl/cert.pem"

[storage calendars_davmail]
type = "caldav"
url = "http://localhost:1080/users/{{ .config.email_2 }}/calendar/"
username = "{{ .config.email_2 }}"
{{- if not (eq .config.passcmd_2 "") }}
password.fetch = ["command", "sh", "-c", "{{ .config.passcmd_2 }}"]
{{- else }}
password.fetch = ["prompt", "Password for outlook"]
{{- end }}
