IMAPAccount gmail
Host imap.gmail.com
User {{ env "MY_EMAIL" }}
AuthMechs XOAUTH2
PassCmd "oauth2get gmail {{ env "MY_EMAIL" }}"
SSLType IMAPS

IMAPStore gmail-remote
Account gmail

MaildirStore gmail-local
SubFolders Verbatim
# The trailing "/" is important
Path {{ env "XDG_DATA_HOME" }}/mail/gmail/
Inbox {{ env "XDG_DATA_HOME" }}/mail/gmail/Inbox

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns * {{ env "MY_EMAIL_SKIP_PATTERNS" }}
Create Both
Expunge Both
SyncState *
