IMAPAccount gmail
Host imap.gmail.com
User {{ .config.email }}
AuthMechs XOAUTH2
PassCmd "oauth2get gmail {{ .config.email }}"
SSLType IMAPS

IMAPStore gmail-remote
Account gmail

MaildirStore gmail-local
SubFolders Verbatim
# The trailing "/" is important
Path {{ .config.maildir }}/gmail/
Inbox {{ .config.maildir }}/gmail/Inbox

Channel gmail
Far :gmail-remote:
Near :gmail-local:
Patterns * {{ .config.patterns_skip }}
Create Both
Expunge Both
SyncState *
