IMAPAccount outlook
Host localhost
Port 1143
User {{ .config.email_2 }}
{{- if not (eq .config.passcmd_2 "") }}
PassCmd "{{ .config.passcmd_2 }}"
{{- end }}
AuthMechs LOGIN
SSLType None

IMAPStore outlook-remote
Account outlook

MaildirStore outlook-local
SubFolders Verbatim
# The trailing "/" is important
Path {{ .config.maildir }}/outlook/
Inbox {{ .config.maildir }}/outlook/Inbox

Channel outlook
Far :outlook-remote:
Near :outlook-local:
Patterns *
Create Both
Expunge Both
SyncState *
